APScheduler==3.11.0
beautifulsoup4==4.13.4
fastapi==0.115.12
langchain_community==0.3.22
langchain_core==0.3.56
langgraph==0.3.34
pydantic==2.11.3
python-dotenv==1.1.0
Requests==2.32.3
SQLAlchemy==2.0.38
urllib3==2.4.0
uvicorn==0.34.2
langchain_deepseek
pymysql
bs4
PyPDF2
spacy
langdetect